@page
@model ShopEasy.Pages.CheckoutModel
@{
    ViewData["Title"] = "Order Confirmation";
}

<h1>Order Confirmation</h1>
<p>Your order has been successfully placed!</p>

<a href="/Index">Continue Shopping</a>
